@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply scroll-smooth
    }
    body{
        @apply min-h-screen bg-white text-black overflow-x-hidden text-base tracking-normal font-outfit select-none
    }
    input{
        font: inherit;
    }
}

.custom-divider{
    @apply w-4/5 mx-auto bg-white/5 h-[2px] rounded-full
}

.hero-bg{
    background: #f5f5f5 url('/assets/images/hero.png') no-repeat right center;
    background-size: contain;
}

.hero2-bg{
    background: #f5f5f5 url('/assets/images/hero2.png') no-repeat left center;
    background-size: contain;
}

input[type='checkbox'],
input[type='range'],
input[type='radio']{
    @apply accent-custom-orange
}


@media screen('md'){
    .hero-bg{
        background-position: 90% center;
    } 
    .hero2-bg{
        background-position: 10% center;
    }
}

.bg-womenwears{
    background: #f5f5f5 url('/assets/images/women-wears.png') no-repeat right;
    background-size: contain;
}

.bg-menwears{
    background: #f5f5f5 url('/assets/images/men-wears.png') no-repeat right;
    background-size: contain;
}

.bg-accessories{
    background: #f5f5f5 url('/assets/images/accessories.png') no-repeat right;
    background-size: contain; 
}

.custom-container{
    margin-block: 1rem;
    padding-inline: 1rem;
}

.text-background{
    @apply  font-bold text-transparent;
    font-size: clamp(4rem, 10rem + 1rem, 15rem);
    background-image: url('/assets/images/haru02.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}
